html{
    overflow-x: hidden;
}
/* Navbar Starts */
.logo-img{
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 30px;
}

.nav-link:hover{
  color:red;
  font-weight:500;
}

.nav-link:active{
    color:red;
}
/* Navbar ENds */
/* Home STarts */
/* Section 1 */
.product-left-img{
    width: 700px;
    height: 350px;
    margin-left: 1rem;
    margin-left: 3rem;
    margin-top: 2rem;
}

.ct2{
    padding: 30px 55px 30px 55px;
}

.heading{
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 25px; 
    margin-left: 1rem;
}

.main-txt{
    font-size: 23px;
    font-weight: 450;
    margin-left: 1rem;
}

.prd-right{
    text-align: center;
margin-top: 6%;
}

/* Section 1 */
