html{
    overflow-x: hidden;
}
/* Navbar Starts */
.logo-img{
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 30px;
}

.nav-link:hover{
  color:red;
  font-weight:500;
}

.nav-link:active{
    color:red;
}
/* Navbar ENds */
